asterisk-ami
requests
dotenv


#if error ImportError: urllib3 v2 only supports OpenSSL 1.1.1+, 
#currently the 'ssl' module is compiled with 'OpenSSL 1.0.2k-fips  
#26 Jan 2017'. See: https://github.com/urllib3/urllib3/issues/2168
# use this 
#requests==2.28.2
#urllib3==1.26.18
